/AnyDesk.exe
/ChromeSetup.exe
/desktop.ini
/gcapi.dll
/Git-2.51.1-64-bit.exe
/GitHubDesktopSetup-x64.exe
/New folder
/python-3.12.8-amd64.exe
/Speech-Emotion-Recognition-main
/TableauDesktop-64bit-2025-2-2.exe